@tailwind base;
@tailwind components;
@tailwind utilities;


body section{
    margin-bottom: 6rem;
}
body{
    background: theme("colors.white");
    color: theme("colors.white");
}

.overflowHidden{
  overflow-y: hidden;
}

@media (min-width: 768px) {
    body section {
        margin-bottom: 10rem;
    }
}
a:hover{
    color: #C7C8CC;
}
.btn{
    
    --button_radius: 0.75em;
    --button_color: theme("colors.white");
    --button_outline_color: theme("colors.blue.black");
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .btn-top {
    display: block;
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    background: var(--button_color);
    padding: 0.5em 1em;
    color: var(--button_outline_color);
    transform: translateY(-0.1em);
    transition: transform 0.1s ease;
  }

  .btn-hero {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  .btn:hover .btn-top {
    transform: translateY(-0.15em);
  }

  .btn:hover .btn-hero {
    transform: translateY(-0.33em);
  }
  
  .btn:active .btn-top,
  .btn:active .btn-hero  {
    transform: translateY(0);
  }

.productCard-inner{
  border:1px solid theme("colors.blue.black");
  background: theme("colors.white");
  transform: translate(-6px, -6px);
  transition: transform 0.1s ease;
}
.productCard-inner:has(button:not(button:active)):has(a:active):active{
  transform: translate(-3px, -3px);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, theme("colors.black"));
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.5);
}
.swiper-pagination-bullet-active{
    background: theme("colors.blue.bright");
    opacity: 1;
}
.swiper-button-prev, .swiper-button-next{
    color:theme("colors.blue.bright");
    opacity: 0.6;
}
.swiper-button-prev, .swiper-button-next:hover{
    opacity: 1;
}

.imageOverlay:after{
    position: absolute;
    content: '';
    inset: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: -9999999;
}

